* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #DADDFD;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 0;
}

h1 {
    color: #3802B8;
    font-weight: 800;
    margin-bottom: 10px;
    font-size:3rem;
}

.subtitle {
    color: #666;
    font-size: 1.1rem;
}

.dashboard {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap; 
}


.rating-card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;

}

.rating-card h3 {
    color: #3802B8;
    margin-bottom: 15px;
    font-weight: 600;
}

#ratingContent {
    font-size: 3.5rem;
    font-weight: 700;
    color: #ee4747;
    line-height: 1;
}

.rating-label {
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;
}

.advice-card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    flex:3;
}

.advice-card h3 {
    color: #3802B8;
    margin-bottom: 15px;
    font-weight: 600;
}

#adviceContent {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.charts-section {
    margin-bottom: 30px;
}

.section-title {
    color: #3802B8;
    margin-bottom: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 4px solid #eaeaea;
}

.charts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}




.chart-card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-card h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #3802B8;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .dashboard-grid, .charts-grid {
        flex-direction: column;
    }
    
    .chart-card svg {
        width: 100%;
        height: auto;
    }
}
.back-btn {
    position: fixed; 
    top: 20px;
    left: 20px;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #3802b8;
    color: white;
    cursor: pointer;
    z-index: 1000; 
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #2d0191;
}
.back-btn a{
    text-decoration:none;
    color:#fff
}