    body {
        font-family: "Poppins", Arial, sans-serif;
        background: #f4f6ff;
        margin: 0;
        padding: 20px;
        color: #333;
    }

    h2 {
        margin-bottom: 20px;
        color: #4438ff;
        font-weight: 600;
    }

    .charts-wrapper {
        display: flex;
        gap: 50px;
        flex-wrap: wrap; /
    }

    .chart-card {
        background: white;
        padding: 20px;
        border-radius: 14px;
        box-shadow: 0 4px 18px rgba(0,0,0,0.08);
        transition: 0.3s ease;
        min-width: 280px; 
    }

    .chart-card:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 22px rgba(0,0,0,0.12);
    }

    .chart-card h3 {
        margin-top: 0;
        color: #4438ff;
        font-weight: 600;
    }

    @media (max-width: 768px) {
        .chart-card {
            flex: 1 1 100%;
        }
    }

    .advice-wrapper {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.advice-wrapper h3 {
    margin-bottom: 12px;
    color: #3802b8;
    font-size: 1.5rem;
    text-align: center;
}

#adviceContent {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    white-space: pre-wrap; 
}
 
#ratingContent{
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    white-space: pre-wrap; 
}