body {
    font-family: Arial, sans-serif;
    background: #daddfd;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
    color: #3802b8;
}

.table-wrapper {
    background: white;
    padding: 10px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #3802b8;
    color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

button {
    padding: 5px 10px;
    width: 80px;          
    text-align: center;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    margin-bottom: 5px;
}


button.edit {
    background-color: #3498db;
    color: #fff;
}

button.delete {
    background-color: #e74c3c;
    color: #fff;
}
@media (max-width: 700px) {

    * {
        box-sizing: border-box;  
    }

    body {
        padding: 10px;
        font-size: 14px;
        overflow-x: hidden;     
    }

    .table-wrapper {
        width: 100%;
        overflow-x: hidden;
    }
    thead{
        display:none;
    }

    table, tbody, th, td, tr {
        display: block;
        width: 100%;
        max-width: 100%;    
        overflow-x: hidden;
        word-wrap: break-word;   
    }

    tr {
        margin-bottom: 12px;
        border-radius: 8px;
        padding: 12px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        font-size: 13px;
    }

    td {
        padding: 6px 0;
        border: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    td::before {
        content: attr(data-label);
        font-weight: bold;
        color: #3802b8;
        margin-right: 10px;
        flex-shrink: 0;
    }

    button {
        padding: 5px 8px;
        width: 48%;
        font-size: 12px;
    }
}
