* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.layout {
    display: flex;
    height: 100vh;
}

.habits-panel {
    width: 320px; 
    background: #daddfd;
    padding: 20px;
    padding-top:6%;
    box-shadow: 30px 10px 50px rgb(0, 0, 0);
}

.habits-panel h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(71, 71, 71);
}

.habit-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.habit-btn {
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #3802b8;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    margin:3px;
    margin-bottom: 10px;


}

.habit-btn-add {
    padding: 12px;
    margin:3px;
    border: none;
    background: #6190d6;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
}
.habit-btn-delete {
    padding: 12px;
    margin:5px;
    border: none;
    background: #6190d6;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
}

.selected-list {
    margin-top: 20px;
}

.selected-item {
    background: #e9ecef;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remove-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.edit-btn {
    background: #6190d6;
    color: white;
    border: none;
    padding: 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
}

.chat-box {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 15px;
}

.user {
    background: #d1e7dd;
    align-self: flex-end;
}

.bot {
    background: #f8d7da;
    align-self: flex-start;
}

.input-area {
    display: flex;
    padding: 15px;
    border-top: 2px solid #b7b7b7;
    gap: 10px;
    background: #ffffff;
}

.input-area input {
    flex: 1;
    padding: 15px 20px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
}

.input-area button {
    background: #3802b8;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border:none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#saveHabit, #closePopup{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    flex-direction: row;

}

#saveHabit {
    flex:1;
    background: #041170;
    color: white;
}

#saveHabit:hover {
    background: #030a66;
}

#closePopup {
    background: #dc3545;
    color: white;
}

#closePopup:hover {
    background: #b63232;
}

#saveNewHabit {
    flex:1;
    background: #041170;
    color: white;
    border:none;
    padding:10px;
    border-radius:10px;
}

#saveNewHabit:hover {
    background: #030a66;
}

#closeNewPopup {
    background: #dc3545;
    color: white;
    border:none;
    padding:10px;
    border-radius:10px;
}

#closeNewPopup:hover {
    background: #b63232;
}

.send-all-btn {
    margin-top: 15px;
    background: #041170;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border:none;
    transition: 0.3s;
}

.send-all-btn:hover {
    background: #030a66;
}
