body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.sidenav {
    height: 100vh;
    width: 250px; 
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow:3px 5px 5px #bab9b959;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3a3a3a;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #3c3b3b;
    background-color: rgba(122, 122, 122, 0.1); /
}



.main-content {
    margin-left: 250px; 
    padding: 20px;
    flex: 1;
    transition: margin-left 0.5s;
}


@media screen and (max-width: 768px) {
    .sidenav {
        width: 20%;
        height: 100vh;
    }
    .sidenav a {
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        margin:0;
        padding: 8px 8px 8px 16px;

        
    }
    
    .main-content {
        margin-left: 20%;
    }
    
}


header {
    width: 80%;
    height: 70px;
    display: flex;
    align-items:center;
    color: rgb(84, 84, 84);
    position:fixed;
    background-color:white;
    top:0;
    right:0;
    z-index:500;
    box-shadow: 0px 10px 50px 10px rgba(69, 69, 69, 0.108);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    letter-spacing: 3px;
    padding:55px;
}
.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}


@media screen and (max-width: 678px) {
    .burger {
        display: block;
    }

    .nav {
        margin: 0;
        position: absolute;
        right: -100%;
        top: 70px;
        width: 50%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
        background-color: rgb(84, 84, 84);
        margin-bottom:20%;
        
    }

    .navlink a {
        color: #fff;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .navlink {
        text-align: center;
    }

    .nav-active {
        right: 0;
    }


}

.rightsidenav{
    height: 100vh;
    width: 250px; 
    position: fixed;
    z-index: 250;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow:3px 15px 10px #808080;    
}

.rightsidenav a {
    padding: 50px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3a3a3a;
    display: block;
    transition: 0.3s;
}

.rightsidenav a:hover {
    color: #3c3b3b;
    background-color: rgba(122, 122, 122, 0.1); /
}